@use '@angular/material' as mat;

@include mat.core();

// Define Material 3 theme with colors
$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$violet-palette,
    tertiary: mat.$rose-palette,
  ),
));

@include mat.all-component-themes($theme);

html, body { 
  height: 100%; 
}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

